node_modules
temp
build
dist
.DS_Store
package.ts
.env
frontend/.env

# Frontend build output
frontend/dist
frontend/.output
frontend/.vinxi
frontend/node_modules

# VS Code
.vscode/*
.history/
*.vsix

# IDEA files
.idea

# VIM
Session.vim
.vim/

# Other private editor folders
.nvim/
.emacs/
.helix/
